@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";
@import "components/button";
@import "components/menucard";
@import "components/steps";
@import "components/restaurantcard";
@import "components/heart";
@import "layout/header";
@import "layout/footer";
@import "pages/home";
@import "pages/fr";