.btn {
    &:visited,
    &:link {
        display: inline-block;
        border-radius: 10rem;
        padding: 2rem 4rem;
        text-decoration: none;
        color: white;
        font-weight: 400;
        background-image: linear-gradient(355deg, $color-primary, $color-secondary);
    }
}