.menu-card {
    display: block;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2.5rem;
    width: 100%;
    margin: 0 auto;
    background: white;
    position: relative;
    text-decoration: none;
    color: black;
    img {
        border-top-left-radius: 2.5rem;
        border-top-right-radius: 2.5rem;
        height: 39rem;
        object-fit: cover;
        width: 100%;
    }
    span {
        background: #99E2D0;
        padding: 1rem 2.4rem;
        border-radius: 0.8rem;
        color: #2f9e44;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-weight: 600;
        font-size: 2rem;
    }
    &__text-box {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 1.6rem 2.6rem;
        font-size: 1.6rem;
        .text {
            padding: 0rem 1.2rem 2.4rem 1rem;
            p {
                font-size: 2rem;
                font-weight: 300;
            }
        }
        .text>* {
            margin-bottom: 1rem;
        }
        i {
            display: flex;
            font-size: 4.6rem;
            margin-right: 3.2rem;
            margin-top: 1rem;
            &:hover,
            &:focus {
                animation: heart__animated 1s forwards;
            }
        }
        .fa-regular {
            margin-right: -37.3rem;
        }
    }
}