.menu-card {
	display: block;
	flex-direction: column;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 25px;
	width: 100%;
	margin: 0 auto;
	background: white;
	position: relative;
	text-decoration: none;
	color: black;
	a:link {
		text-decoration: none;
		color: black;
	}
	span {
		background: #99e2d0;
		padding: 10px 24px;
		border-radius: 8px;
		color: #2f9e44;
		position: absolute;
		top: 20px;
		right: 20px;
		font-weight: 600;
		font-size: 20px;
	}
	img {
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		height: 390px;
		object-fit: cover;
		width: 100%;
	}

	&__text-box {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding-top: 20px;
		padding-left: 12px;
		font-size: 1.6rem;
		.text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 6px;
			padding: 0px 12px 24px 10px;
			padding: 0rem 1.2rem 2.4rem 1rem;
			p {
				font-size: 2rem;
				font-weight: 300;
			}
			h2 {
				font-size: 2.5rem;
				text-decoration: none;
			}
		}
		.text > * {
			margin-bottom: 1rem;
		}
		i {
			display: flex;
			font-size: 4rem;
			margin-top: 1rem;
			&:hover,
			&:focus {
				animation: heart__animated 1s forwards;
			}
		}
		.fa-regular {
			margin-right: 72px;
			text-decoration: none;
		}
	}
	.heart-like {
		display: flex;
		position: absolute;
		right: 38px;
		bottom: 38px;
	}
	.fa-regular {
		position: relative;
		left: 112px;
		opacity: 1;
	}

	.fa-solid {
		opacity: 0;
	}
	.fa-solid:hover {
		animation: heart__animated 1s forwards;
		opacity: 1;
	}
}
