@media screen and (min-width: 769px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
    main.restaurant {
        margin-top: -300px;
    }
    .restaurant-name h1 {
        font-size: 36px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .restaurant-cards {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .restaurant-cards article {
        min-width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
    .restaurant-cards {
        gap: 20px;
    }
    .restaurant-cards article {
        min-width: 350px;
    }
}