@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Inherit fonts for inputs and buttons */

input,
button {}