@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p {
  margin: 0; }

@keyframes heart__animated {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  100% {
    opacity: 1;
    background-image: linear-gradient(100deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; } }

@keyframes heart__hidden {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1000; } }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1; }
  75% {
    opacity: 0.8; }
  100% {
    transform: rotate(360deg);
    opacity: 0; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes splash {
  from {
    transform: translateY(15px);
    opacity: 0; }
  50% {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(0px); } }

body {
  font-family: 'Roboto', sans-serif; }

.restaurant__card__name {
  font-family: Shrikhand, "cursive";
  font-size: 2rem; }

.btn:visited, .btn:link {
  display: inline-block;
  border-radius: 10rem;
  padding: 2rem 4rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
  background-image: linear-gradient(355deg, #9356DC, #FF79DA); }

.menu-card {
  display: block;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2.5rem;
  width: 100%;
  margin: 0 auto;
  background: white;
  position: relative;
  text-decoration: none;
  color: black; }
  .menu-card img {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    height: 39rem;
    object-fit: cover;
    width: 100%; }
  .menu-card span {
    background: #99E2D0;
    padding: 1rem 2.4rem;
    border-radius: 0.8rem;
    color: #2f9e44;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-weight: 600;
    font-size: 2rem; }
  .menu-card__text-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1.6rem 2.6rem;
    font-size: 1.6rem; }
    .menu-card__text-box .text {
      padding: 0rem 1.2rem 2.4rem 1rem; }
      .menu-card__text-box .text p {
        font-size: 2rem;
        font-weight: 300; }
    .menu-card__text-box .text > * {
      margin-bottom: 1rem; }
    .menu-card__text-box i {
      display: flex;
      font-size: 4.6rem;
      margin-right: 3.2rem;
      margin-top: 1rem; }
      .menu-card__text-box i:hover, .menu-card__text-box i:focus {
        animation: heart__animated 1s forwards; }
    .menu-card__text-box .fa-regular {
      margin-right: -37.3rem; }

.steps {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  border-radius: 2.5rem;
  background: #F6F6F6;
  width: 96%;
  margin: 3rem auto;
  cursor: pointer; }
  .steps span {
    width: 4rem;
    height: 4rem;
    border: 1px solid #9356DC;
    border-radius: 50%;
    background: #9356DC;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -16px;
    font-weight: 600;
    font-size: 2rem; }
  .steps p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 16px;
    padding: 46px 16px;
    font-weight: 500;
    letter-spacing: 1px; }
  .steps i {
    color: #adb5bd;
    display: inline-block;
    font-size: 30px;
    font-size: 40px; }
  .steps:hover {
    background-color: rgba(147, 86, 220, 0.15); }
    .steps:hover i {
      color: #9356DC; }

.restaurant--menu--list {
  width: 100%; }

article .card {
  animation: splash 1100ms normal backwards ease-in-out; }

article .card:nth-child(1n) {
  animation-delay: 0.2s; }

article .card:nth-child(2n) {
  animation-delay: 0.4s; }

article .card:nth-child(3n) {
  animation-delay: 0.6s; }

article .card:nth-child(4n) {
  animation-delay: 0.8s; }

.restaurant-cards {
  padding: 30px 0;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
  background-color: #f6f6f6;
  width: 100%; }

.restaurant-cards h2 {
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 16px;
  margin-left: 0px; }
  .restaurant-cards h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 45px;
    background: #99E2D0; }

.restaurant-cards .card {
  background-color: #ffff;
  border-radius: 2.5rem;
  margin: 14px 16px 14px 0px;
  margin-bottom: 2.6rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 400ms;
  width: 98%; }

.restaurant-cards .card:hover {
  box-shadow: 0px 7px 15px 0px #0000003b; }

.restaurant-cards .card:hover .price-check {
  margin-right: 0px; }

.restaurant-cards .card div:first-child {
  overflow: hidden;
  white-space: nowrap; }

.restaurant-cards .card h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 14px 0 12px 11px;
  font-size: 1.7rem; }

.restaurant-cards .card p {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 0 14px 11px;
  font-size: 0.95rem;
  font-weight: 300;
  font-size: 1.7rem; }

.restaurant-cards .card .price-check {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin-right: -61px;
  transition: 500ms; }

.restaurant-cards .card .price-check p {
  align-self: flex-end;
  margin-right: 25px;
  margin-left: 5px;
  font-weight: 900;
  line-height: 1rem; }

.restaurant-cards .card .price-check i {
  align-self: center;
  background-color: #99e2d0;
  padding: 16px 4px; }

.restaurant-cards .card .price-check i:before {
  font-size: 3.6rem;
  color: #ffff;
  display: inline-block;
  margin: 8px;
  transition-duration: 0ms;
  transform: rotate(-1turn); }

.restaurant-cards .card:hover i:before {
  transform: rotate(0turn);
  transition-duration: 500ms; }

.restaurant-cards article {
  display: flex;
  flex-flow: column;
  align-items: flex-start; }

.heart-like {
  display: flex; }
  .heart-like--regular {
    opacity: 1; }
  .heart-like--solid {
    opacity: 0; }
    .heart-like--solid:hover {
      animation: heart__animated 1s forwards;
      opacity: 1; }

.footer {
  background: #353535;
  color: white;
  padding-bottom: 10px; }
  .footer__wrapper {
    width: 90%;
    margin: 0 auto; }
    .footer__wrapper h1 {
      font-family: Shrikhand, "cursive";
      color: white;
      font-size: 24px;
      padding-top: 24px;
      margin-bottom: 24px;
      padding-bottom: 0px; }
  .footer ul {
    list-style: none;
    padding-left: 0px;
    padding-bottom: 2rem; }
    .footer ul li a:visited,
    .footer ul li a:link {
      display: flex;
      gap: 1rem;
      text-decoration: none;
      color: white;
      font-size: 2rem;
      padding-bottom: 1rem; }

.container {
  max-width: 768px;
  margin: 0 auto;
  outline: 2px solid red; }

/* Spinner */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: spinner 2s forwards; }

.loader__animation {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.header {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 2.4rem;
  border-bottom: #adb5bd 2px solid; }
  .header--logo {
    max-width: 25rem;
    margin: 2.4rem auto; }

.presentation {
  width: 100%;
  background: #fafafa;
  font-size: 24px; }
  .presentation--localisation {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    padding: 16px 0px;
    font-size: 26px;
    font-weight: 500;
    border-bottom: #adb5bd 2px solid; }
    .presentation--localisation i {
      font-size: 25px; }
  .presentation--text-box {
    text-align: center;
    padding-top: 3.6rem;
    padding-bottom: 8rem;
    width: 70%;
    margin: 0 auto;
    text-align: center; }
    .presentation--text-box h1 {
      font-size: 46px;
      margin-bottom: 26px; }
    .presentation--text-box p {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 60px; }

.fonctionnement h1 {
  margin-top: 5.4rem; }

.fonctionnement--wrapper {
  padding-bottom: 9rem;
  width: 90%;
  margin: 0 auto; }
  .fonctionnement--wrapper h1 {
    font-size: 3rem; }

.restaurants-menus {
  background: #fafafa;
  padding-bottom: 5rem; }
  .restaurants-menus__wrapper {
    padding-top: 6rem;
    padding-bottom: 3rem;
    width: 90%;
    margin: 0 auto; }
    .restaurants-menus__wrapper .menu-list {
      margin-bottom: 3.6rem;
      display: flex;
      flex-direction: column;
      gap: 3rem; }
    .restaurants-menus__wrapper h1 {
      font-size: 3rem;
      padding-bottom: 3rem; }

@media screen and (min-width: 769px) {
  .container {
    max-width: 992px;
    margin: 0 auto; }
  main.restaurant {
    margin-top: -300px; }
  .restaurant-name h1 {
    font-size: 36px; } }

@media screen and (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 0 auto; }
  .restaurant-cards {
    display: flex;
    gap: 10px;
    justify-content: space-between; }
  .restaurant-cards article {
    min-width: 300px; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
    margin: 0 auto; }
  .restaurant-cards {
    gap: 20px; }
  .restaurant-cards article {
    min-width: 350px; } }

header {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 24px; }
  header a:link {
    margin-left: 26px;
    font-size: 26px; }
  header img {
    margin: 2.4rem auto;
    max-width: 25rem; }

.restaurant__card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 7rem; }

/* Liste des restaurants */
.restaurant {
  width: 100%;
  margin: 0 auto;
  border-radius: 3.5rem;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: -140px;
  position: relative;
  background: #f6f6f6; }
  .restaurant__wrapper {
    width: 90%;
    margin: 0 auto; }

aside img {
  width: 100%; }

.restaurant__card {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 7rem; }
  .restaurant__card__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0px;
    padding-top: 36px; }
    .restaurant__card__name i {
      font-size: 36px; }
    .restaurant__card__name .heart-like--regular {
      margin-right: -36.2px; }

.command {
  margin: 0 auto;
  text-align: center; }

.command a:link {
  font-weight: 500; }

.btn.command {
  padding: 12px 46px; }
