.restaurant-description {
    width: 100%;
    background: #FAFAFA;
    font-size: 24px;
}

.restaurant-description .restaurant-lieu {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    padding: 40px 0px;
    font-size: 26px;
    font-weight: 500;
}

.restaurant-description .restaurant-lieu i {
    font-size: 25px;
}

.restaurant-description .restaurant-details {
    text-align: center;
    padding: 36px 0px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.restaurant-description .restaurant-details h1 {
    font-size: 46px;
}

.restaurant-description .restaurant-details p {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 54px;
}

.restaurant-description .restaurant-details>* {
    margin-bottom: 60px;
}

.restaurant-description .restaurant-details h1 {
    margin-bottom: 26px;
}

.restaurant-fonctionnement .fonctionnement-steps {
    display: flex;
    align-items: center;
    gap: 26px;
    margin: 24px auto;
}

.restaurant-fonctionnement .fonctionnement-steps p {
    font-size: 24px;
    font-weight: 600;
    margin-left: 16px;
}

.restaurant-fonctionnement h1 {
    margin-top: 54px;
}

.restaurant-fonctionnement .fonctionnement-steps i {
    color: #adb5bd;
    display: inline-block;
    font-size: 30px;
}

.restaurant-fonctionnement .fonctionnement-steps {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    background: #F6F6F6;
    width: 96%;
    margin: 30px auto;
}

.restaurant-fonctionnement .fonctionnement-steps p {
    padding: 46px 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.restaurant-fonctionnement .fonctionnement-steps span {
    width: 40px;
    height: 40px;
    border: 1px solid #9356DC;
    border-radius: 50%;
    background: #9356DC;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -16px;
    font-weight: 600;
}

.restaurant-fonctionnement .fonctionnement-steps i {
    font-size: 40px;
}

.restaurant-menus {
    background: #F6F6F6;
    padding-bottom: 50px;
}

.restaurant-menus .wrapper {
    padding-bottom: 30px;
}

.restaurant-fonctionnement .wrapper {
    padding-bottom: 90px;
}

.restaurant-menus h1 {
    padding-top: 98px;
}

.restaurant-menus .menu-list {
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.menu-card {
    display: block;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 25px;
    width: 100%;
    margin: 0 auto;
    background: white;
    position: relative;
    text-decoration: none;
    color: black;
}

.menu-card span {
    background: #99E2D0;
    padding: 10px 24px;
    border-radius: 8px;
    color: #2f9e44;
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 600;
    font-size: 20px;
}

.menu-card img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 390px;
    object-fit: cover;
    width: 100%;
}

.menu-description {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 16px 26px;
}

.menu-description .text {
    padding: 0px 12px 24px 10px;
}

.menu-description i {
    display: flex;
    font-size: 46px;
    margin-right: 32px;
    background: white;
    margin-top: 10px;
}

.menu-description .text>* {
    margin-bottom: 10px;
}

footer .wrapper h1 {
    padding-bottom: 0px;
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
    main.restaurant {
        margin-top: -300px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .restaurant-cards {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }
    .restaurant-cards article {
        min-width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px;
        margin: 0 auto;
    }
    .restaurant-cards {
        gap: 20px;
    }
    .restaurant-cards article {
        min-width: 350px;
    }
}